<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
          <dt>Rating</dt>
          <dd><%= sprintf "%.2f", overall(@product.ratings) %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <hr><!-- Rating Form -->
        <%= form_for :ratings, url: "../ratings" do |f| %>
          <%= f.label(:rating, "Like this product?") %>
          <%= f.number_field(:rating, in: 1..5, :step => "0.5",  class: ['form-control', 'rater']) %>
          <%= f.hidden_field(:product_id, {:value => @product.id}) %>
          <%= f.submit "Rate It", class: ['btn', 'btn-primary'] %>
        <% end %>
      <hr><!-- Start Review Form | End Rating Form -->
      <h4 style="width: 100%;">Add your review <button id="show" class="btn btn-primary">Show</button></h4>
      <%= form_for :reviews, url: "../review", class: ['form-group', 'review'] do |f| %>
          <%= f.label(:name, "Name:", class: 'margin-5') %>
          <%= f.text_field(:name, class: ['form-control', 'margin-5']) %>
          <%= f.label(:email, "Email:", class: 'margin-5') %>
          <%= f.email_field(:email, class: ['form-control', 'margin-5']) %>
          <%= f.label(:review, "Comment:") %>
          <%= f.text_area(:review, class: ['form-control', 'margin-5']) %>
          <%= f.hidden_field(:product_id, {:value => @product.id}) %>
          <%= f.submit "+ Review", class: ['btn', 'btn-primary'] %>
        <% end %>
      <hr><!-- End Review Form -->
    </div>

    <h3>Product Reviews</h3>

    <% @allReviews.each do |review| %>
      <div class="row margin-5 review-content">
        <h4 class="font-weight-bold margin-5"><%= review.review[0..16] %>...<small class="float-right"><%= review.created_at.strftime("%B %d, %Y at %I:%M %p") %></small></h4>

        <p><%= review.review %></p>
        <p><%= review.name %></p>
      </div>
    <% end %>


    <script>
      // Slight UX
      $('#show').on("click", (event) => {
        // event.preventDefault();
        $('.review').closest('div').find('.review').slideToggle();
        console.log(event, $('.review').closest('div').find('.review'));
      });

    </script>
  </article>

</section>
