<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
          <dt>Rating</dt>
          <dd><%= sprintf "%.2f", overall(@product.reviews) %> / 5</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <% if current_user %> <!-- Review section start -->
      <h4 style="width: 100%;">Add your review <button id="show" class="btn btn-primary">Show</button></h4>
      <%= form_for :reviews, url: "../review", class: ['form-group', 'review'] do |f| %>
          <%= f.label(:name, "Name:", class: 'margin-5') %>
          <%= f.text_field(:name, :value => current_user.name, class: ['form-control', 'margin-5']) %>
          <%= f.label(:email, "Email:", class: 'margin-5') %>
          <%= f.email_field(:email, :value => current_user.email, class: ['form-control', 'margin-5']) %>
          <%= f.label(:review, "Comment:") %>
          <%= f.text_area(:review, class: ['form-control', 'margin-5']) %>
          <%= f.label(:rating, "Your Rating:") %>
          <%= f.number_field(:rating, in: 1..5, :step => "0.5",  class: ['form-control', 'rater']) %>
          <%= f.hidden_field(:product_id, {:value => @product.id}) %>
          <%= f.submit "+ Review", class: ['btn', 'btn-primary'] %>
        <% end %>
      <hr><!-- End Review Form -->
    </div>


    <% if @allReviews.size > 0 %>
      <h3>Product Reviews</h3>

      <% @allReviews.each do |review| %>
        <div class="margin-5">
          <%= link_to 'Delete Review', "/review/delete/#{review.id}", class: ['btn', 'btn-primary'] %>
          <dl class="dl-horizontal review-content">
            <dt>Title</dt>
            <dd class="title"><%= review.review[0..16] %>...<small class="float-right"><%= review.created_at.strftime("%B %d, %Y at %I:%M %p") %></small></dd>
            <dt>Rating</dt>
            <dd><strong><%= review.rating %> / 5</strong></dd>
            <dt>User</dt>
            <dd><%= review.name %></dd>
            <dt>Review</dt>
            <dd><%= review.review %></dd>
          </dl>
        </div>
      <% end %>
    <% end %>
    <% end %> <!-- Reviews Section End -->



    <script>
      // Slight UX
      $('#show').on("click", (event) => {
        // event.preventDefault();
        $('.review').closest('div').find('.review').slideToggle();
        console.log(event, $('.review').closest('div').find('.review'));
      });

    </script>
  </article>

</section>
